In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [7]:

from sklearn.ensemble import RandomForestClassifier
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, balanced_accuracy_score

# Read the CSV and Perform Basic Data Cleaning

In [8]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [9]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [10]:
df_encoded = pd.get_dummies(df)
df_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [11]:
# Create our features
X = df_encoded.drop(columns=["loan_status_high_risk","loan_status_low_risk" ] )


# Create our target
y = df_encoded["loan_status_high_risk"]

In [12]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [13]:
# Check the balance of our target values
y.value_counts()

0    68470
1      347
Name: loan_status_high_risk, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y)
X_train.shape

(51612, 95)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

In [15]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Balanced Random Forest Classifier

In [16]:
# Resample the training data with the BalancedRandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=1) 
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [18]:
# Calculated the balanced accuracy score
# Calculating the accuracy score.
acc_score = balanced_accuracy_score(y_test, predictions)

In [19]:
# Display the confusion matrix
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0        17112            2
Actual 1           68           23

In [21]:
# Print the imbalanced classification report
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0        17112            2
Actual 1           68           23

Accuracy Score : 0.6263151946802759
Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      0.25      1.00      0.50      0.27     17114
          1       0.92      0.25      1.00      0.40      0.50      0.23        91

avg / total       1.00      1.00      0.26      0.99      0.50      0.27     17205

In [23]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_

# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.07719454985663061, 'total_rec_prncp'),
 (0.06912059104666227, 'total_rec_int'),
 (0.06877164412629756, 'last_pymnt_amnt'),
 (0.058898628332843664, 'total_pymnt'),
 (0.058826683554234906, 'total_pymnt_inv'),
 (0.020201090268058258, 'out_prncp_inv'),
 (0.018648686211723085, 'out_prncp'),
 (0.018288918871690034, 'mo_sin_old_rev_tl_op'),
 (0.017337248966908345, 'installment'),
 (0.016318654210715194, 'mo_sin_old_il_acct'),
 (0.01558698478638745, 'dti'),
 (0.015101035949911938, 'max_bal_bc'),
 (0.014643138883360888, 'total_bal_il'),
 (0.014516364240560522, 'tot_cur_bal'),
 (0.013685351015986377, 'tot_hi_cred_lim'),
 (0.013510817854440364, 'avg_cur_bal'),
 (0.013439291059024057, 'bc_open_to_buy'),
 (0.013369403813121591, 'bc_util'),
 (0.013300732288905777, 'total_il_high_credit_limit'),
 (0.013267087339620847, 'revol_bal'),
 (0.013195907826105463, 'loan_amnt'),
 (0.013003000200821575, 'total_bal_ex_mort'),
 (0.012899331842552026, 'issue_d_Mar-2019'),
 (0.012397749100865678, 'total_rev_hi_lim'),
 (0.012124023019431527, 'annual_inc'),
 (0.012114267266812955, 'mths_since_recent_bc'),
 (0.01204474634528356, 'total_bc_limit'),
 (0.0117347914706198, 'il_util'),
 (0.011613422120426042, 'all_util'),
 (0.011584299210475308, 'total_rec_late_fee'),
 (0.011496044430762187, 'int_rate'),
 (0.010958179734359483, 'total_acc'),
 (0.010887976745074163, 'num_il_tl'),
 (0.010736462002608464, 'mths_since_rcnt_il'),
 (0.010715707232409971, 'mo_sin_rcnt_rev_tl_op'),
 (0.009427045029667801, 'mths_since_recent_inq'),
 (0.009403424578108027, 'total_cu_tl'),
 (0.009341936430233089, 'num_rev_accts'),
 (0.009218993248128386, 'num_sats'),
 (0.00915222213466323, 'num_op_rev_tl'),
 (0.009006445028567884, 'num_bc_tl'),
 (0.008959656576193036, 'issue_d_Feb-2019'),
 (0.008918999677817318, 'open_acc'),
 (0.008769761895080943, 'mo_sin_rcnt_tl'),
 (0.00844133464278099, 'pct_tl_nvr_dlq'),
 (0.008396962363953613, 'num_rev_tl_bal_gt_0'),
 (0.008084697586136148, 'inq_last_12m'),
 (0.008013817337955805, 'acc_open_past_24mths'),
 (0.008011784445309313, 'num_actv_rev_tl'),
 (0.00796147111079755, 'num_bc_sats'),
 (0.007949847539939017, 'open_rv_24m'),
 (0.0073543875396811864, 'num_tl_op_past_12m'),
 (0.0069415035330899905, 'inq_fi'),
 (0.006819186733910767, 'num_actv_bc_tl'),
 (0.0064087406722849625, 'open_il_24m'),
 (0.006146597211280779, 'percent_bc_gt_75'),
 (0.00598838042163966, 'open_acc_6m'),
 (0.0057931772655225025, 'open_rv_12m'),
 (0.005789755274512488, 'open_act_il'),
 (0.005629322071638753, 'issue_d_Jan-2019'),
 (0.005428757405647371, 'mort_acc'),
 (0.005305974745178093, 'tot_coll_amt'),
 (0.005119435070163594, 'inq_last_6mths'),
 (0.004879886602543978, 'next_pymnt_d_May-2019'),
 (0.004620872510939123, 'open_il_12m'),
 (0.004491082926269348, 'next_pymnt_d_Apr-2019'),
 (0.004173852979887392, 'num_accts_ever_120_pd'),
 (0.0030303694618649614, 'delinq_2yrs'),
 (0.0024405581516155554, 'pub_rec'),
 (0.002348009454611062, 'home_ownership_OWN'),
 (0.002337183477588308, 'application_type_Individual'),
 (0.001901600261033665, 'application_type_Joint App'),
 (0.0018776415054275648, 'pub_rec_bankruptcies'),
 (0.0018763143180075483, 'home_ownership_RENT'),
 (0.0017243640664213519, 'verification_status_Verified'),
 (0.0016029923060308397, 'num_tl_90g_dpd_24m'),
 (0.0015667322300159906, 'verification_status_Source Verified'),
 (0.0015272603427433236, 'home_ownership_MORTGAGE'),
 (0.0015037276334006048, 'collections_12_mths_ex_med'),
 (0.0014951161785361775, 'verification_status_Not Verified'),
 (0.0011437676985603874, 'initial_list_status_w'),
 (0.0009694373082556752, 'home_ownership_ANY'),
 (0.00092405899477868, 'initial_list_status_f'),
 (0.0002487427958941876, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [26]:
# Train the EasyEnsembleClassifier
from sklearn.ensemble import GradientBoostingClassifier

# Choose a learning rate and create classifier
classifier = GradientBoostingClassifier(n_estimators=20,
                                        learning_rate=0.5,
                                        max_features=5,
                                        max_depth=3,
                                        random_state=0)

# Fit the model
classifier.fit(X_train_scaled, y_train)

# Make Prediction
predictions = classifier.predict(X_test_scaled)
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).head(20)

       Prediction  Actual
23001           0       0
61666           0       0
24182           0       0
60718           0       0
14206           0       0
52678           0       0
49889           0       0
66865           0       0
45312           0       0
17301           0       0
55677           0       0
29231           0       0
3953            0       0
17359           0       0
33370           0       0
30437           0       0
55996           0       0
15472           0       0
14417           0       0
6005            0       0

In [28]:
# Calculated the balanced accuracy score
acc_score = balanced_accuracy_score(y_test, predictions)
print(f"Accuracy Score : {acc_score}")

Accuracy Score : 0.6858198480262288

In [29]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"],
    columns=["Predicted 0", "Predicted 1"]
)

# Displaying results
display(cm_df)

          Predicted 0  Predicted 1
Actual 0        17080           34
Actual 1           57           34

In [33]:
# Print the imbalanced classification report
print("Classification Report")
print(classification_report_imbalanced(y_test, predictions))

Classification Report
                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      0.37      1.00      0.61      0.40     17114
          1       0.50      0.37      1.00      0.43      0.61      0.35        91

avg / total       0.99      0.99      0.38      0.99      0.61      0.40     17205